.container {
  background-color: #FFF;
  padding: 50px 24px;
}

.productQuantidy {
  border-top: 1.5px solid rgba(27, 27, 27, .1);
  border-bottom: 1.5px solid rgba(27, 27, 27, .1);
  padding: 19px 0;
  font-size: 16px;
  font-weight: 400;
  color: #1b1b1b;

}

.productList {}

.shippingArea {
  margin-top: 31px;
}

.shippingTitle {
  font-weight: 400;
  font-size: 16px;
  color: #6A7D8B;
  margin-bottom: 16px;
}

.shippingForm {
  display: flex;
  gap: 14px;
}

.shippingInfo {
  background-color: #F9F9FA;
  border-radius: 8px;
  margin-top: 16px;
  padding: 24px 32px;
}

.shippingAdrres {
  font-weight: 400;
  font-size: 10px;
  color: #6A7D8B;
}

.shippingTime {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.shippingTimeText {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.shippingPrice {
  font-family: 600;
  font-size: 16px;
  color: #000;
}

.resumeArea {
  background-color: #f9f9Fb;
  border-radius: 8px;
  margin-top: 16px;
  padding: 4px 32px;
}

.resumeItem {

  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.resumeLeft {

  font-weight: 400;
  color: #000;
  font-size: 16px;
}

.resumeLine {
  border-top: 1px dashed #96A3AB;
  margin-bottom: 29px;
}

.resumeRight {

  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.resumeRightBig {
  font-weight: 600;
  font-size: 24px;
  color: #000;
}

.resumeButton {
  margin-top: 40px;
}