.container {
  background-color: #FFF;
}

.header {
  background-color: #F9F9FB;
  padding: 50px 24px 30px 24px;

}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 27px;
}

.headerTitle {
  font-weight: 500;
  font-size: 24px;
  color: #1B1B1B;
  margin-bottom: 8px;
}

.headerSubitile {
  font-weight: 400;
  font-size: 18px;
  color: rgba(151, 151, 151, 0.8);

}

.menuButton {
  width: 18px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuButtonLiner {
  background-color: #000;
  height: 2px;
}

.Grid {
  display: grid;
  Grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin: 0 24px 0 24px;
}


.searchText {
  margin: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #979797;
}

.searchText strong {
  font-weight: 600;

}

.noProduct {
  width: 235px;
  margin: 88px auto;
}

.noProductText {
  font-weight: 500;
  font-size: 24xp;
  line-height: 29px;
  color: #CDCDCD;
  text-align: center;
  margin-top: 32px;
}